.slots {
  width: 6vw;
  height: 4.5vh;
  display: flex;
  border-radius: 5px;
  margin: 1vh 0.3vw;
  /* padding: 0 10px; */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11), 5px 5px 20px #5c94c91b;
}

.slots .grade {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
}

.slots .used {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.danger {
  background-color: #ffc3c3;
}

/* .safe {
  background-color: #E0F9D0;
} */

.safe {
  background-color: rgba(177, 247, 124, 0.3);
}

.level-vacancies {
  width: 100%;
}

.level-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: space-around; */
  /* padding: 0 1vw; */
}

.level-title {
  border-bottom: solid 1px;
}