.slots {
  width: 7vw;
  height: 11%;
  display: flex;
  border-radius: 5px;
  margin: 0.8vh 0px;
  /* padding: 0 10px; */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11), 5px 5px 20px #5c94c91b;
}

.slots .grade {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
}

.slots .used {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #F9D0D0;
}

.green {
  background-color: #E0F9D0;
}