*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 220, 233, 1);
}

#root {
  width: 100vw;
  height: 100vh;
}

.main-container {
  width: calc(98vw - 50px);
  height: calc(98vh - 50px);
  position: absolute;
  top: calc(1vh + 25px);
  left: calc(1vw + 25px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a {
  cursor: pointer;
}