.main-container .header {
  width: 100%;
  height: 14%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;

  /* border-style: solid; */
}

.main-container .content {
  width: 85%;
  height: 75%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  /* border-style: solid; */
}
