.contract-container {
  width: 85vw;
  height: 131.428vw;
  padding: 5vw 7.5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1500;
}

.contract-container .line {
  width: 100%;
  margin: 0 0 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contract-container .main {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.contract-container .left {
  text-align: left;
}

.contract-container .right {
  text-align: right;
}

.contract-container .center {
  text-align: center;
}

.contract-container img {
  height: 5vw;
  margin: 0 2vw;
}

.contract-container h2 {
  font-size: 2.2vw;
}
.contract-container h3 {
  font-size: 1.6vw;
}

.contract-container ol {
  list-style-position: inside;
}

.contract-container li {
  font-size: 1.6vw;
}

.contract-container p {
  font-size: 1.6vw;
}

.contract-container .firmas {
  position: absolute;
  width: calc(100vw - 150px);
  display: flex;
  justify-content: space-around;
  bottom: 8vw;
  font-size: 1.6vw;
}

.bold {
  font-weight: 900;
}

table {
  border-collapse: collapse;
  margin: 2vw;
  font-size: 1.4vw;
}

td {
  padding: 0.2vw 1.3vw; 
}

.td-line {
  border-bottom: 0.1vw solid black;
}

th { 
  padding: 0.3vw 1vw;
  border-bottom: 0.2vw solid black;
}