.background {
  width: calc(98vw - 50px);
  height: calc(98vh - 50px);
  position: absolute;
  top: calc(1vh + 25px);
  left: calc(1vw + 25px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(246, 251, 255);
  z-index: -2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11), 5px 5px 40px #5c94c95d;
}

@media only screen and (max-width: 400px) {
  .background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}