.main-secretary {
  display: flex;
  justify-content: center;
}

.secretary-buttons {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}