.main-secretary-shown {
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-secretary-notshown {
  display: flex;
  justify-content: center;
  height: 100%;
}

.secretary-buttons {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-secretary-shown .secretary-buttons {
  width: calc(90vw - 300px);
}