
.card-student {
    display: flex;
}

.card-student .left {
    width: 12vw;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-student .left img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-student .right {
    width: 35vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-student img {
    width: 5vw;
    margin-left: -0.5vw;
}